<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,950}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,950}}</string>
                <key>sourceSize</key>
                <string>{64,950}</string>
            </dict>
            <key>btn_again_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,448},{172,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{172,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_again_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,376},{172,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{172,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,651},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,520},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_helpnext_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,151},{147,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{147,56}}</string>
                <key>sourceSize</key>
                <string>{155,64}</string>
            </dict>
            <key>btn_helpnext_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{147,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{147,56}}</string>
                <key>sourceSize</key>
                <string>{155,64}</string>
            </dict>
            <key>btn_home_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,585},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_home_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,954},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_next_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,950},{172,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{172,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_next_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,950},{172,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{172,70}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_snd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_snd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,717},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,506},{191,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{191,77}}</string>
                <key>sourceSize</key>
                <string>{203,91}</string>
            </dict>
            <key>btn_start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,427},{191,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{191,77}}</string>
                <key>sourceSize</key>
                <string>{203,91}</string>
            </dict>
            <key>cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,819},{259,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{259,129}}</string>
                <key>sourceSize</key>
                <string>{269,143}</string>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,264},{174,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{174,110}}</string>
                <key>sourceSize</key>
                <string>{178,116}</string>
            </dict>
            <key>game_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,427},{390,173}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{390,173}}</string>
                <key>sourceSize</key>
                <string>{400,173}</string>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{720,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,260}}</string>
                <key>sourceSize</key>
                <string>{720,260}</string>
            </dict>
            <key>help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,414},{94,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{94,39}}</string>
                <key>sourceSize</key>
                <string>{110,53}</string>
            </dict>
            <key>ingame_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{162,161}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,161}}</string>
                <key>sourceSize</key>
                <string>{168,165}</string>
            </dict>
            <key>role.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,300},{112,227}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{112,227}}</string>
                <key>sourceSize</key>
                <string>{124,237}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,193},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,165},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,165},{260,134}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{260,134}}</string>
                <key>sourceSize</key>
                <string>{260,170}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,264},{245,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{245,346}}</string>
                <key>sourceSize</key>
                <string>{273,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee97cd0cdf6a7b787cb3081279c7d76f$</string>
            <key>textureFileName</key>
            <string>sheet1.png</string>
        </dict>
    </dict>
</plist>
